# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.WSOA2006_Assignement4_LevelDesign_Group7.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
